<h1>Welcome to Cart for <%= current_user.first_name %> <%= current_user.last_name %></h1>

<% @cart.cart_products.each do |cart_product| %>
  <%= cart_product.product.title %> - £<%= cart_product.product.price %>
  <p>Quantity: <%= cart_product.quantity %></p>
  <!-- Form for updating quantity -->
  <%= form_with model: cart_product, url: cartproduct_path(cart_product), method: :patch do |f| %>
    <%= f.number_field :quantity, value: cart_product.quantity %>
    <%= f.submit 'Update', class: "btn btn-primary btn-sm" %>
  <% end %>
  <%= link_to 'Remove All', destroy_cart_product_path(cart_product), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' } %>
  <br>
<% end %>
