<h1>Welcome to <%= @product.title %> Page</h1>

<p>Price:  £<%= @product.price %></p>
<p>Quantity in stock: <%= @product.stock_quantity %> </p>

<%= form_with url: cartproducts_path, method: :post do |f| %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= f.submit 'Add to Cart', class: "btn btn-primary" %>
<% end %>

<%= link_to 'View Cart', cart_path(current_user.cart), class: "btn btn-secondary" %>
